@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, input, textarea{
    font-family: Montserrat, sans-serif;
}
body {
  padding-top: 70px;
  color: #0c0c0d;
}
*,*:before,*:after{
  box-sizing: border-box;
}
.container{
  max-width: 1000px;
  width: 94%;
  margin: 0 auto;
}
section{
  padding: 3em 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  color: #5b5b5b;
  font-weight: normal;
  text-decoration: none;
  transition: all 0.4s ease;
}
a:hover,a:focus {
  color: #0019ff;
  text-decoration: underline;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
  margin: 0 0 1em 0;
}

h2 {
  font-size: 2.4em;
  margin-top: 0;
}

h3 {
  font-size: 1.75em;
  margin: 0 0 0.5em 0;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
  background: white;
  font-weight: bold;
}


main{
  padding-top: 3em;
}


/* 
Timeline section
*/
.resume {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.timeline-year {
  position: relative;
  background-color: #001AFE;
  top: 4rem;
  left: -6.25rem;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 60px;
  font-size: 1.5rem;
}


.timeline-year p {
  color: white;
}

.container-left:before {
  content: ".top-year";
  height: 80%;
  position: absolute;
  top: 150px;
  left: 0;
}


.container-left:before {
  content: "";
  height: 60%;
  border: 1.5px solid black;
  position: absolute;
  top: 180px;
  align-self: flex-start;
  z-index: -5;
}

.container-left {
  display: block;
  flex-basis: 50%;
  flex-wrap: wrap;
  position: relative;
  padding: 0 4rem;
}


.container-right:before {
  content: "";
  display: block;
  width: 0;
  height: 50%;
  border: 1.5px solid black;
  position: absolute;
  top: 180px;
  left: 0;
  align-self: flex-start;
  z-index: -5;
}


.container-right {
  display: block;
  flex-basis: 50%;
  flex-wrap: wrap;
  position: relative;
  padding: 0 4rem;
}

.h2-timeline {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.h3-timeline {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  margin-top: 0;
  }

.h3-timeline span {
  float: right;
  font-size: 15px;
  padding-bottom: 0;
  padding-top: 1rem;
  }


  .project-manager .ux-designer .ui-freelancer .mobile-web .user-interface .artwork-design {
    display: block;
    flex-basis: 70%;
    text-justify: newspaper;
    padding-bottom: 2rem;
    margin: 0 0.5rem;
  }